{% extends 'base.html.twig' %}

{% block title %}Modifier le Média{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier le média</h1>

        {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.titre) }}
            </div>
            <div class="form-group">
                {{ form_row(form.url) }}
            </div>
            <div class="form-group">
                {{ form_row(form.playlist) }}
            </div>
            {% if 'ROLE_ADMIN' not in user.roles and 'ROLE_USER' in user.roles %}
                <button class="btn btn-primary">Enregistrer</button>
            {% endif %}
            <a href="{{ path('app_media_index') }}" class="btn btn-secondary">Retour à la liste</a>
        {{ form_end(form) }}
    </div>
{% endblock %} 